html {
    font-family: 'GillSans';
  }

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.brand-logo {
	font-family: 'GillSans';
	font-size: 2em;
}

#index-banner p {
	font-weight: 700;
	padding: 0;
}

.slider p {
	font-weight: 700;
	background-color: black;
}

h1, h4 {
	font-family: 'Pacifico', cursive;
	color: #121F34;
}

h2 {
	font-family: 'Pacifico', cursive;
	color: #59DDBE;
}

h3 {
	font-family: 'GillSans';
	color: #121F34;
}

h5 {
	font-family: 'Pacifico', cursive;
	color: #3A57AC;
}


p {
	font-size: 1.2em;
}

ul {
	font-family: 'Pacifico', cursive;
	font-weight: 500;
	color:#F7AB92;
	font-size: 1em;
}

li {
	font-family: 'GillSans';
	font-weight: 300;
	color:black;
}

.worklogo {
	position: relative;
}

.logosize {
	height: 200px;
	width: 100%;
}


