/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}


p {
	font-size: 1.2em;
}

ul {
	font-weight: 500;
	color:#3A57AC;
	font-size: 1em;
}

li {
	font-weight: 300;
	color:black;
}

footer a 
{
  padding-top: 5px;
  margin: 4px;
}

.portfoliopage h2 {
	color: #121F34;
	font-weight: 600;
}

.portfoliopage h3 {
	background-color: #121F34;
	color: #59DDBE;
	font-weight: 600;
}

.portfoliopage h4 {
	color: #3A57AC;
	font-weight: 600;
}

.worklogo {
	position: relative;
}

.navbar {
	background-color: #121F34;
}

footer h5 {
	color: #59DDBE;
	font-weight: 600;
}



